# Ignore build artifacts
target/

# Ignore IDE settings
.settings/
.project
.classpath
.idea/
*.iml
*.iws

# Ignore OS files
.DS_Store
Thumbs.db

allure-results/
test-output/
Team5APISquadLog.txt
testng.xml
Jenkinsfile 